<div id="3-lasts" class="card-item">
  <div class="card-img">
    <% if user_signed_in? && current_user.email == "patrick.j@gmail.com" %>
      <%= link_to edit_item_path(item) do %>
        <i class="fa-regular fa-pen-to-square fs-4"></i>
      <% end %>
      <%= link_to item_path(item), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ce meuble?" } do %>
        <i class="fa-regular fa-trash-can fs-4"></i>
      <% end %>
    <% end %>
    <%= link_to item_path(item), class:"text-decoration-none" do  %>
      <% if item.photo.attached? %>
        <%= image_tag item.photo %>
      <% else %>
        <p>Pas de photo</p>
      <% end %>
    <% end %>
  </div>

  <div class="card-infos">
    <%= link_to item_path(item), class:"text-decoration-none" do  %>
      <div class="card-details">
        <div class="card-name">
          <p><%= item.name %></p>
        </div>
        <div class="card-price">
          <p class="btn btn-primary text-white price"><%= item.price %> € </p>
        </div>
      </div>
      <p class="card-description">« <%= item.description %> »</p>
      <p class="card-dimensions">Dimensions : L <%= item.length %>cm x l <%= item.width %>cm x H <%= item.height %>cm P <%= item.weight %>kg</p>
    <% end %>
  </div>
</div>
