<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-position-fixed">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpeg", style:"width:75px;margin-left:10px" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Accueil", root_path, class: "nav-link fw-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Boutique", items_path, class: "nav-link fw-bold" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sur Mesure", contact_path, class: "nav-link fw-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "A propos", about_path, class: "nav-link fw-bold" %>
        </li>
        <% if user_signed_in? && current_user.email == "patrick.j@gmail.com" %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "patrick_avatar.jpeg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
